<div class='row'>
  <div class='col-lg-3'>
    <h1>Places <%= link_to 'New Place', new_place_path, class: 'btn btn-primary' %></h1>
  </div>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Yelp url</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @places.each do |place| %>
          <tr>
            <td><%= place.name %></td>
            <td><%= place.yelp_url %></td>
            <td>
              <%= link_to 'Show', place, class: 'btn btn-primary' %>
              <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
